@use '../../../../theme/theme' as *;

.flightLabelContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
}

.flightTag {
  @include gradient-outlined-box(
          $border-radius: 3rem,
  );
  font-weight: bold;
  gap: 0.7rem;
}

.flightRoute {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 22px;
  color: #000;
  font-weight: 700;
}

.arrowIcon {
  color: #000;
  font-size: 20px;
}
