@use '../../../../theme/theme' as *;

.matchLabelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.matchTag {
  @include light-chip
}

.matchLocation {
  font-size: 22px;
  color: #000;
  font-weight: 700;
}

.arrowIcon {
  color: #000;
  font-size: 20px;
}
