# ========== Client ==========
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

# Client editor config
client/.vscode/*
!client/.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?

client/.env*

# ========== Server ==========
server/.env*
server/node_modules
server/.idea
server/dist
server/coverage
server/output
server/public/*
server/client*
server/front*
