@use '../../../../../theme/theme' as *;

.infoBlock {
  font-size: 13px;
  color: #4a4a4a;
  margin-left: 1rem;
  margin-top: 0.25rem;

  strong {
    font-weight: 600;
  }
}

.fixtureList {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
  align-items: stretch;
}

.fixtureItem {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1.7fr 1fr;
  padding-block: 0.5rem;
  padding-inline: 1rem 2rem;
  border-radius: 8px;
  background-color: #f6f6f6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.fixtureTeams {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  & > .teamDetails:nth-child(1) {
    flex: 1;
    display: flex;
    gap: 0.3rem;
    justify-content: flex-end;
    align-items: center;
  }

  & > .teamDetails:nth-child(3) {
    flex: 1;
    display: flex;
    gap: 0.3rem;
    justify-content: flex-start;
    align-items: center;
  }
}

.teamName {
  font-size: 14px;
  font-weight: 500;
  color: #2f4f6f;
}

.league {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 0.5rem;
  font-weight: 400;
  padding: 0.2rem 0.5rem;
  border-radius: $system-border-radius;

  .leagueLogo {
    width: 30px;
    aspect-ratio: 1;
    padding: 0.2rem;
    border-radius: 0.5rem;
    object-fit: contain;
  }
}

.teamLogo {
  width: 40px;
  aspect-ratio: 1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  object-fit: contain;
}

.metadata {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.5rem;

  .fixturePrice {
    word-break: keep-all;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .fixtureDate {
    word-break: keep-all;
    text-wrap: nowrap;
  }
}
