.match-label-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f2f5;
    border-radius: 0.5rem;
}

.match-tag {
    margin-right: 1.25rem;
    font-size: 20px;
    font-weight: 600;
    padding: 0.4rem;
    border-radius: 10px;
    background-color: #2F4F6F;
    color: white
}

.match-location {
    font-size: 22px;
    color: #000;
    font-weight: 700;
}

.arrow-icon {
    color: #000;
    font-size: 20px;
}
