@use '../../../../theme/theme' as *;

.matchDetailsContainer {
  @include card;
  flex-direction: row;
}

.matchDetails {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.matchHeader {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.matchImage {
  width: 90px;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  object-fit: contain;
}

.matchInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  align-items: center;
  text-align: center;
}

.stadiumTag {
  font-size: 12px;
  font-weight: 600;
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 30px;
  background-color: #2f4f6f;
  color: white;

  & > * > svg {
    width: 18px;
    height: 18px;
  }
}

.leagueTag {
  font-size: 12px;
  font-weight: 600;
  padding: 0.4rem 1rem;
  border-radius: 30px;
  border: none;
  color: $accent;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .leagueLogo {
    width: 30px;
    aspect-ratio: 1;
    padding: 0.2rem;
    border-radius: 0.5rem;
    object-fit: contain;
  }
}

.matchTeams {
  color: $accent;
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -1.5px;
  vertical-align: middle;
  display: flex;
}

.matchMeta {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
}

.matchDatePrice {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  align-self: flex-end;
}

.matchDayContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.matchDate {
  color: #6b7280;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}

.matchDay {
  font-size: 20px;
  color: #6b7280;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 600;
}

.stadiumIcon {
  width: 20px;
  height: 20px;
}

.matchPriceInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & > span {
    line-height: 1.2;
  }
}

.priceText {
  font-size: 15px;
  color: #6b7280;
  font-weight: 400;
  line-height: 15px;
}

.priceAmount {
  font-size: 18px;
  color: #2f4f6f;
  font-weight: bold;
}

.matchTicketButton {
  @include gradient-filled-button($gradient: $stubhub-gradient);
}
