@use '../../theme/theme' as theme;

.container {
    padding-inline: 10rem;
    gap: 2rem;
    height: 100%;
    padding-block: 5rem;
    overflow: hidden;
}

.mainDiv { 
    min-height: '100vh';
    background-color: '#f0f2f5';
}

.searchBarDiv {
    margin: 0 auto;
    padding: 40px 16px;
}