.page {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #f0f2f5;
}
  

.packageCard {
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition: box-shadow 0.2s ease;
    max-width: 60%;
    min-width: 31.5%;
    margin:auto;
    overflow: hidden;
  }
  
  .divider {
    height: 1px;
    background-color: #e0e0e0;
    margin: 0.25rem 0 0.75rem;
    width: 100%;
    border-radius: 1px;
  }

  .packageCard:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  }
  

.matches {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  padding-bottom: 1rem; 
  gap: 3rem;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.matches::-webkit-scrollbar {
  height: 10px;
}

.matches::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 10px;
}

.matchItem {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.arrowIcon {
  font-size: 28px;
  color: #2f4f6f;
  flex-shrink: 0;
}

  