.matchDetailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.matchDetailsCard {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.compactCard {
  gap: 0.5rem;
}

.fixtureTeams {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 0.25rem 0 0.75rem;
  width: 100%;
  border-radius: 1px;
}

.imageBase {
  aspect-ratio: 1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  object-fit: contain;
}

.image {
  width: 90px;
}

.compactImage {
  width: 60px;
}

.vsBase {
  font-weight: 600;
  color: #2f4f6f;
}

.vs {
  font-size: 24px;
}

.compactVs {
  font-size: 14px;
}


.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

.matchTitle {
  font-weight: 500;
  color: #2f4f6f;
}

.matchTitleFull {
  font-size: 16px;
}

.matchTitleCompact {
  font-size: 14px;
}

.matchDate {
  font-size: 14px;
  color: #6b7280;
  font-weight: 500;
}

.meta {
  display: flex;
  gap: 0.5rem;
}

.stadiumTag {
  background-color: #2f4f6f;
  color: white;
  font-size: 11px;
  font-weight: 600;
  padding: 0.2rem 0.8rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}

.leagueTag {
  font-size: 11px;
  font-weight: 600;
  padding: 0.2rem 0.6rem;
  border-radius: 30px;
  border: none;
  color: #2f4f6f;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .leagueLogo {
    width: 22px;
    aspect-ratio: 1;
    padding: 0.2rem;
    border-radius: 0.5rem;
    object-fit: contain;
  }
}

.prices {
  display: flex;
  gap: 2rem;
  margin-top: 0.4rem;
  font-size: 14px;
  color: #2f4f6f;
  font-weight: 600;
}

.icon {
  margin-right: 0.4rem;
  color: #2f4f6f;
}

.priceRange {
  font-size: 14px;
  color: #6b7280;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.icon {
  width: 14px;
  height: 14px;
}

.matchTeamsLogos {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
