@use '../../theme/theme' as *;

:global {
  .ant-tag {
    margin-inline-end: 0;
  }
}

.freeSearch {
  width: 60%;
}

.container {
  padding-inline: 10rem;
  gap: 2rem;
  min-height: 100%;
  padding-block: 5rem;
  overflow: hidden;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("/stadium.avif");
  background-size: cover;
  background-position: center;
  border-radius: $system-border-radius;
  gap: 2rem;
  padding: 6rem;
  overflow: hidden;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;

  @media (max-width: 1600px) {
    gap: 1rem;
  }
}

.buttonGroup {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: $system-border-radius;
  z-index: 0;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 1;
  color: #fff;
}

.mainTitle {
  font-size: 46px;
  font-weight: bold;
  margin: 0;
}

.secondaryTitle {
  font-size: 16px;
  margin-top: 8px;
}

.toggleWrapper {
  background-color: rgb(187, 187, 187);
  border-radius: 30px;
  display: flex;
  gap: 0.5rem;
  z-index: 1;
  padding: 0.3rem;
  justify-content: center;
}

.toggleBtn {
  background: transparent;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  cursor: pointer;
  font-size: medium;
  transition: 0.3s ease;
  width: 200px;

  &.active {
    background: white;
    color: black;
  }
}

.searchZone {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.formInputs {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.teamItem {
  display: flex;
  gap: 10px;
  align-items: center;

  & > img {
    width: 18px;
    height: 18px;
  }
}
