@use '../../../theme/theme' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding-block: 1rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  border-radius: 12px;
  border: 1px solid #e4e4e4;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: background 0.3s ease;

  .titleContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .title {
    font-size: 18px;
    font-weight: 400;
    color: #1e1e1e;
    margin: 0;
  }
}


.timeline {
  border-radius: 8px;
  width: 100%;
  height: 100%;

  :global {
    .ant-timeline-item {
      background-color: transparent !important;
      padding-bottom: 1.2rem;
    }

    .ant-timeline-item-tail {
      border-inline-start: 2px solid #d9d9d9;
    }

    .ant-timeline-item-head {
      width: 14px;
      height: 14px;
      margin-inline-start: -1px;
      background-color: transparent;
    }

    .ant-timeline-item-content {
      padding: 0.25rem 0 0 0.5rem;
    }
  }
}

.fixtureList {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
  align-items: stretch;
}

.fixtureItem {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 5fr 1fr;
  padding: 0.5rem;
  padding-right: 2rem;
  border-radius: 8px;
  background-color: #f6f6f6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.flightsSearchItem {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
  padding: 1rem;
  padding-right: 2rem;
  border-radius: 8px;
  background-color: #f6f6f6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  width: 100%;
}

.flightsCities {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

.flightCityDetails {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  & > .flightCity {
    font-size: 14px;
    font-weight: 500;
    color: #2f4f6f;
  }

  & > .flightIATA {
    font-size: 14px;
    font-weight: 500;
    color: #2f4f6f;
  }
}

.flightTo {
  font-size: 14px;
  font-weight: 500;
  color: #2f4f6f;
}

.isRoundTrip {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: gray-scale(40%);
}

.metadata {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.5rem;

  .flightPrice {
    word-break: keep-all;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    gap: 0.5rem;

  }

  .flightDate {
    word-break: keep-all;
    text-wrap: nowrap;
  }
}

.metadata {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.5rem;

  .fixturePrice {
    word-break: keep-all;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    gap: 0.5rem;


  }

  .fixtureDate {
    word-break: keep-all;
    text-wrap: nowrap;
  }
}

.timelineItem {
  font-size: 14px;
  line-height: 1.5;
}

.timelineMessage {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.infoBlock {
  font-size: 13px;
  color: #4a4a4a;
  margin-left: 1rem;
  margin-top: 0.25rem;

  strong {
    font-weight: 600;
  }
}


.fixtureTeams {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  & > .teamDetails:nth-child(1) {
    flex: 1;
    display: flex;
    gap: 0.3rem;
    justify-content: flex-end;
    align-items: center;
  }

  & > .teamDetails:nth-child(3) {
    flex: 1;
    display: flex;
    gap: 0.3rem;
    justify-content: flex-start;
    align-items: center;
  }
}

.teamName {
  font-size: 14px;
  font-weight: 500;
  color: #2f4f6f;
}

.teamLogo {
  width: 40px;
  aspect-ratio: 1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  object-fit: contain;
}

.stepCollapse {
  background: transparent;

  :global {
    .ant-collapse-item {
      border: none;
    }

    .ant-collapse-header {
      padding: 0 !important;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }

    .ant-collapse-content-box {
      padding: 0.5rem 0 0;
    }
  }
}
