@use '../../theme/theme' as theme;

.page {
  display: flex;
  flex-direction: column;
  padding: 5rem 25%;
  gap: 4rem;

  @include theme.respond-xl(padding, 5rem 10rem);
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: theme.darker(theme.$accent, 10%);

  .titleIcon {
    font-size: 1.5rem;
  }
}

.packageContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 3rem;
  position: relative;
}

.packageCard {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: box-shadow 0.2s ease;
  overflow: hidden;
}

.divider {
  height: 1px;
  background-color: #c3c3c3;
  margin: 0.25rem 0 0.75rem;
  width: 100%;
  border-radius: 1px;
}

.packageCard:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  padding-bottom: 1rem;
  gap: 2rem;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.destinations::-webkit-scrollbar {
  height: 10px;
}

.destinations::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 10px;
}

.matchItem {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.arrowIcon {
  font-size: 28px;
  color: #2f4f6f;
  flex-shrink: 0;
  display: none;
}

.dateHeader {
  font-size: 16px;
  color: #2a2a2a;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  //@include theme.font;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  border-radius: theme.$card-border-radius;
  background-color: white;
  padding: 0.5rem 1rem;
  color: theme.$accent;

  position: sticky;
  top: 2rem;
  z-index: 1000;

  align-self: flex-start;
  transform: translateX(calc(100% + 4rem)); // shifts to the right
  margin-bottom: -2.5rem;

  white-space: nowrap;
  pointer-events: none;
}