@use '../../theme/theme' as *;

.container {
  padding-inline: 10rem;
  gap: 2rem;
  height: 100%;
  padding-block: 5rem;
  overflow: hidden;
  width: 100%;
}

.buttonGroup {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.formInputs {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.content {
  background-color: rgb(187, 187, 187);
  border-radius: $system-border-radius;
  padding: 12px 16px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  z-index: 1;
  width: fit-content;

  :global {
    .ant-select-single {
      border-radius: $system-border-radius;
      background-color: #f5f5f5;
    }

    .ant-select-selector {
      border-radius: $system-border-radius;
      background-color: #f5f5f5;
    }

    .ant-picker {
      border-radius: $system-border-radius;
    }

    .ant-form-item {
      margin-bottom: 0;
    }

    .ant-select-disabled {
      border-radius: $system-border-radius;
      background: #eae9e9 !important;
    }
  }
}

.originCountry {
  width: 220px;
}

.originAirport {
  min-width: 200px;
}

.dateRange {
  width: 220px;
}

.priceRange {
  width: 180px;
}

.selectCountry {
  min-width: 120px;
}

.selectCountryContainer {
  width: 150px;
}

.selectLeague {
  width: 180px;
}

.selectTeams {
  width: 200px;
}

.teamItem {
  display: flex;
  gap: 10px;
  align-items: center;

  & > img {
    max-width: 18px;
    max-height: 18px;
    object-fit: contain;
  }
}

.searchButton {
  @include gradient-filled-button;

  &:hover {
    transform: scale(1.05);
  }
}