@use '../../theme/theme' as *;

.packagePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 15%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  min-height: 100%;
  gap: 4rem;
}

.packageHeader {
  display: flex;
  width: 100%;
  position: relative;
  gap: 1.5rem;
  //box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.12);
  flex-direction: row;
  //@include gradient-outlined-box($height: 100%, $border-width: 2px);
  @include card;
  //position: sticky;
  align-items: stretch;
  top: 2rem;
  flex-direction: row;
  z-index: 20;
}

.backArrow {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-top: 0.9rem;
}

.titleContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  margin-bottom: 0;
  gap: 1rem;
}

.backIcon {
  font-size: 20px;
  cursor: pointer;
  align-self: start;
  color: $accent;
}

.packageInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.packageTitle {
  font-size: 24px;
  line-height: 48px;
  color: $accent !important;
  font-weight: 700;
  vertical-align: middle;
}

.cardsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
}

.packageDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3a4d63;
  margin-bottom: 1rem;
  margin-inline-start: 1rem;
}

.packageDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.packageDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.packageDate {
  font-size: 20px;
  color: #2f4f6f;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.calendarIcon {
  width: 17px;
  height: 17px;
}

.packagePrice {
  font-size: 18px;
  font-weight: 400;
  color: #1d3557;
}

.saveButton {
  @include gradient-filled-button($gradient: $stubhub-gradient);
  width: 200px;
  @include font;
  font-weight: 600;
}


.packageTitleSkeleton {
  width: 300px !important;
  height: 48px;
}

.packageDescriptionSkeleton {
  width: 400px;
}

.dateSkeleton {
  width: 120px;

}

.priceSkeleton {
  width: 80px;
}

.saveButtonSkeleton {
  width: 200px;
  height: 45px;
}


.packageDetailsContainerSkeleton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}