@use '../../theme/theme' as *;

.freeTextSearch {
  background-color: rgb(187, 187, 187);
  border-radius: 30px;
  display: flex;
  gap: 1rem;
  padding: 12px 16px;
  width: 100%;
  align-items: center;
  z-index: 4;
  position: relative;

  :global {
    .ant-input {
      border-radius: $system-border-radius;
      background-color: #f5f5f5;
    }
  }
}

.searchInput {
  background: white;
  min-width: 300px;
  border: none;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  font-size: 28px;
}

.searchButton {
  @include gradient-filled-button;
  width: 150px;

  &:hover {
    transform: scale(1.05);
  }
}